{% extends '../base.html' %}

{% block content %}
<br />
<div class="container text-center bg-white" style="border-radius: 20px; width: 500px;">
    <br /> 
    <h4>My Donation</h4>
    <hr />
    <i class="fa fa-heart fa-2x"></i>
    <hr />
    <br />
    <p>Feel free to send donation ...</p>
    <br />
    {{ paypal_form.render }}
    <br />
    <button id="stripe-checkout" class="btn btn-info text-white w-50" type="submit">
        <i class="fa fa-credit-card" aria-hidden="true"></i> &nbsp; Pay with Stripe
    </button>
    <br /><br />
</div>

<!-- Stripe JS #1 -->
 <script src="http://js.stripe.com/v3/"></script>

<!-- Stripe JS #2 -->
<script>

    var stripe_public_key = Stripe('{{ stripe_public_key }}');
    const pay_now_button = document.querySelector("#stripe-checkout");

    pay_now_button.addEventListener("click", event => {
        stripe_public_key.redirectToCheckout({
            sessionId: '{{ stripe_session_id }}'
        }).then(function(result){
            console.log("Payment Succesfull!")
        });
    });

</script>
{% endblock %}