{% extends '../base.html' %}

{% block content %}
<br />
<div class="container text-center bg-white" style="border-radius: 20px; width: 500px;">
    <br /> 
    <h4>My Donation</h4>
    <hr />
    <i class="fa fa-heart fa-2x"></i>
    <hr />
    <br />
    <p>Feel free to send donation ...</p>
    <br />
    {{ paypal_form.render }}
    <br />
    <button id="stripe-checkout" class="btn btn-info text-white w-50" type="submit">
        <i class="fa fa-credit-card" aria-hidden="true"></i> &nbsp; Pay with Stripe
    </button>
    <br /><br />
</div>
{% endblock %}